$alto: #D4D4D4;
$black: #000000;
$cerise_red: #38B6FF;
$mirage: #20253F;
$white: #ffffff;

$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

$bebas-neue: 'bebas-neue';
$sora-light: 'sora-light';
$sora-medium: 'sora-medium';
$sora-semibold: 'sora-semibold';
