.single__case__study__main__section
  padding: 15rem 10rem 10rem 10rem
  width: 100%
  height: 100vh

  @media screen and (max-width: 48em)
    padding: 20rem 5rem 5rem 5rem
    height: 90vh

  @media screen and (min-width: 48.063em) and (max-width: 64em)
    padding: 15rem 5rem 5rem 5rem

  .single__case__study__image__wrapper
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 100%
    height: 100%
    position: relative

    .single__case__study__image
      width: 80%
      height: 100%
      position: relative
      border-radius: 0.8rem
      overflow: hidden
      z-index: 2
      transform: rotate(2deg)

      img
        object-fit: cover

      .image__overlay
        width: 100%
        height: 100%
        position: absolute
        background: #0000004d
        z-index: 3
        border-radius: 0.8rem

    .backdrop
      width: 80%
      height: 100%
      // overflow: hidden
      position: absolute
      background: $cerise_red
      z-index: 1
      border-radius: 0.8rem

    .single__case__study__top
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      position: absolute
      z-index: 2

      .badge
        @extend %description-14
        color: $white

        @media screen and (min-width: 48.063em) and (max-width: 64em)
          text-align: center
          max-width: 100%
          margin-top: 5rem

      .heading
        @extend %title-80
        text-transform: uppercase
        margin-top: 4rem
        color: $white
        text-align: center
        width: 50%

        @media screen and (min-width: 48.063em) and (max-width: 64em)
          text-align: center
          width: 60%

.case__study__agenda__section
  padding: 10rem 20rem 20rem 20rem
  width: 100%
  // height: 100vh

  @media screen and (max-width: 48em)
    padding: 5rem 5rem 5rem 5rem

  @media screen and (min-width: 48.063em) and (max-width: 64em)
    padding: 10rem 10rem 10rem 10rem

  .case__study__agenda__top
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    .heading
      @extend %title-80
      text-transform: uppercase
      margin-top: 4rem
      width: 80%
      color: $white
      text-align: center
      width: 50%

      @media screen and (min-width: 48.063em) and (max-width: 64em)
        text-align: center
        width: 100%

  .case__study__agenda__bottom
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 5rem
    margin-top: 5rem
    place-items: center

    @media screen and (max-width: 48em)
      grid-template-columns: 1fr
      gap: 3rem

    @media screen and (min-width: 48.063em) and (max-width: 64em)
      gap: 3rem

    .workflow__card__cover
      display: flex
      flex-direction: row
      align-items: center
      padding: 2.4rem
      gap: 2.4rem
      box-shadow: 0rem 2.8rem 2.8rem rgba(24, 23, 44, 0.32)
      border-radius: 2.4rem
      background-color: $white
      width: 100%

      @media screen and (min-width: 48.063em) and (max-width: 64em)
        padding: 1rem

      &.transparent
        background-color: #ffffff00

        @media screen and (max-width: 48em)
          display: none

      svg
        min-width: 5.8rem
        min-height: 5.8rem

      h1
        @extend %title-22
        color: $black

.case__study__clientOverview__section
  display: grid
  grid-template-columns: 1fr 1fr
  width: 100%
  // height: 100vh
  padding: 0 20rem 20rem 20rem

  @media screen and (max-width: 48em)
    padding: 5rem 5rem 5rem 5rem
    grid-template-columns: 1fr

  @media screen and (min-width: 48.063em) and (max-width: 64em)
    padding: 10rem 10rem 10rem 10rem
    gap: 5rem

  .case__study__clientOverview__image__wrapper
    display: flex
    justify-content: center
    flex-direction: column
    position: relative

    @media screen and (max-width: 64em)
      align-items: center
      width: 100%
      height: 100%

    .case__study__clientOverview__image
      height: 58rem
      width: 48rem
      overflow: hidden
      position: relative
      // transform-origin: left top
      z-index: 2
      border-radius: 0.8rem
      transform: rotate(2deg)
      // transform: translateY(20rem)

      @media screen and (max-width: 48em)
        height: 58rem

      @media screen and (min-width: 48.063em) and (max-width: 64em)
        height: 58rem

      img
        object-fit: cover

    .backdrop
      height: 58rem
      width: 48rem
      position: absolute
      background: $cerise_red
      z-index: 1
      border-radius: 0.8rem

  .case__study__clientOverview__content__wrapper
    display: flex
    justify-content: center
    flex-direction: column

    .heading
      @extend %title-80
      text-transform: uppercase
      margin-top: 4rem
      width: 80%
      color: $white

      @media screen and (max-width: 48em)
        text-align: center
        width: 100%

      @media screen and (min-width: 48.063em) and (max-width: 64em)
        width: 100%

    .description
      @extend %description-16
      max-width: 80%
      color: $alto
      margin-top: 4rem

      @media screen and (max-width: 48em)
        text-align: center
        max-width: 100%

      @media screen and (min-width: 48.063em) and (max-width: 64em)
        max-width: 100%

.case__study__introduction__section
  padding: 0 20rem 20rem 20rem

  @media screen and (max-width: 48em)
    padding: 5rem 5rem 5rem 5rem

  @media screen and (min-width: 48.063em) and (max-width: 64em)
    padding: 10rem 10rem 10rem 10rem

  .case__study__introduction__content__wrapper
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    .heading
      @extend %title-80
      text-transform: uppercase
      margin-top: 4rem
      width: 80%
      color: $white
      text-align: center

      @media screen and (max-width: 48em)
        width: 100%

    .description
      @extend %description-16
      max-width: 50%
      color: $alto
      margin-top: 4rem
      text-align: center

      @media screen and (max-width: 48em)
        max-width: 100%

      @media screen and (min-width: 48.063em) and (max-width: 64em)
        max-width: 80%

.case__study__clientChallenges__section
  display: grid
  grid-template-columns: 1fr 1fr
  width: 100%
  // height: 100vh
  padding: 0 20rem 20rem 20rem

  @media screen and (max-width: 48em)
    padding: 5rem 5rem 5rem 5rem
    grid-template-columns: 1fr

  @media screen and (min-width: 48.063em) and (max-width: 64em)
    padding: 10rem 10rem 10rem 10rem
    gap: 5rem
    grid-template-columns: 1fr

  .case__study__clientChallenges__image__wrapper
    display: flex
    justify-content: center
    flex-direction: column
    position: relative
    width: 100%
    height: 100%
    align-items: flex-end

    @media screen and (max-width: 64em)
      align-items: center
      display: none

    .case__study__clientChallenges__image
      height: 58rem
      width: 48rem
      overflow: hidden
      position: relative
      // transform-origin: left top
      z-index: 2
      border-radius: 0.8rem
      transform: rotate(2deg)
      // transform: translateY(20rem)

      img
        object-fit: cover

    .backdrop
      height: 58rem
      width: 48rem
      // overflow: hidden
      position: absolute
      background: $cerise_red
      z-index: 1
      border-radius: 0.8rem

  .case__study__clientChallenges__content__wrapper
    display: flex
    justify-content: center
    flex-direction: column

    @media screen and (max-width: 64em)
      align-items: center

    .heading
      @extend %title-80
      text-transform: uppercase
      margin-top: 4rem
      width: 80%
      color: $white

      @media screen and (max-width: 64em)
        text-align: center
        width: 100%

    .case__study__clientChallenges__point
      display: flex
      flex-direction: row
      align-items: center
      padding: 2.4rem
      gap: 2.4rem
      box-shadow: 0rem 2.8rem 2.8rem rgba(24, 23, 44, 0.32)
      border-radius: 2.4rem
      background-color: $white
      width: 80%
      margin-top: 1.5rem

      &.case__study__clientChallenges__point__1
        transform: rotate(0deg)
      &.case__study__clientChallenges__point__2
        transform: rotate(2deg)

      svg
        min-width: 5.8rem
        min-height: 5.8rem

      h1
        @extend %title-22
        color: $black

.case__study__joinedHand__strategy__section
  display: grid
  grid-template-columns: 1fr 1fr
  padding: 0 20rem 20rem 20rem
  gap: 10rem

  @media screen and (max-width: 48em)
    padding: 5rem 5rem 5rem 5rem
    grid-template-columns: 1fr

  @media screen and (min-width: 48.063em) and (max-width: 64em)
    padding: 10rem 10rem 10rem 10rem
    gap: 5rem

  .case__study__joinedHand__content__wrapper
    display: flex
    align-items: center
    flex-direction: column

    .heading
      @extend %title-80
      text-transform: uppercase
      margin-top: 4rem
      width: 60%
      color: $white
      text-align: center

      @media screen and (max-width: 64em)
        width: 100%

    .description
      @extend %description-16
      max-width: 80%
      color: $alto
      margin-top: 4rem
      text-align: center

      @media screen and (max-width: 64em)
        max-width: 100%

  .case__study__strategy__content__wrapper
    display: flex
    align-items: center
    flex-direction: column

    .heading
      @extend %title-80
      text-transform: uppercase
      margin-top: 4rem
      width: 80%
      color: $white
      text-align: center

      @media screen and (max-width: 64em)
        width: 100%

    .description
      @extend %description-16
      max-width: 80%
      color: $alto
      margin-top: 4rem
      text-align: center

      @media screen and (max-width: 64em)
        max-width: 100%

// .case__study__strategy__section
//   display: grid
//   grid-template-columns: 1fr 1fr
//   width: 100%
//   // height: 100vh
//   padding: 0 20rem 20rem 20rem

//   .case__study__strategy__image__wrapper
//     display: flex
//     justify-content: center
//     flex-direction: column
//     position: relative

//     .case__study__strategy__image
//       height: 58rem
//       max-width: 48rem
//       overflow: hidden
//       position: relative
//       // transform-origin: left top
//       z-index: 2
//       border-radius: 0.8rem
//       transform: rotate(2deg)
//       // transform: translateY(20rem)

//       @media screen and (max-width: 48em)
//         height: 80rem

//       @media screen and (min-width: 48.063em) and (max-width: 64em)
//         height: 85rem

//       img
//         object-fit: cover

//     .backdrop
//       height: 58rem
//       width: 48rem
//       position: absolute
//       background: $cerise_red
//       z-index: 1
//       border-radius: 0.8rem

//   .case__study__strategy__content__wrapper
//     display: flex
//     justify-content: center
//     flex-direction: column

//     .heading
//       @extend %title-80
//       text-transform: uppercase
//       margin-top: 4rem
//       width: 80%
//       color: $white

//     .description
//       @extend %description-16
//       max-width: 80%
//       color: $alto
//       margin-top: 4rem

.case__study__campaignHighlights__section
  padding: 0 20rem 20rem 20rem

  @media screen and (max-width: 48em)
    padding: 5rem 5rem 5rem 5rem

  @media screen and (min-width: 48.063em) and (max-width: 64em)
    padding: 10rem 10rem 10rem 10rem

  .case__study__campaignHighlights__content__wrapper
    .heading
      @extend %title-80
      text-transform: uppercase
      margin-top: 4rem
      width: 80%
      color: $white

      @media screen and (max-width: 64em)
        width: 100%
        text-align: center

    .case__study__campaignHighlights__points__wrapper
      display: flex
      align-items: center
      gap: 3rem
      margin-top: 2rem

      @media screen and (max-width: 48em)
        flex-direction: column
        gap: 1rem
        margin-top: 5rem

      svg
        min-width: 8rem
        min-height: 8rem

      h1
        @extend %title-22
        color: $white

        @media screen and (max-width: 48em)
          text-align: center

      span, li
        @extend %description-16
        color: $alto

        @media screen and (max-width: 48em)
          text-align: center

.case__study__achievements__section
  padding: 0 20rem 20rem 20rem

  @media screen and (max-width: 48em)
    padding: 5rem 5rem 5rem 5rem

  @media screen and (min-width: 48.063em) and (max-width: 64em)
    padding: 10rem 10rem 10rem 10rem

  .heading
    @extend %title-80
    text-transform: uppercase
    margin-top: 4rem
    color: $white
    text-align: center

  .case__study__achievements__image
    position: relative
    width: 100%
    height: 80rem
    margin: 5rem 0

    @media screen and (max-width: 48em)
      height: 38rem

    @media screen and (min-width: 48.063em) and (max-width: 64em)
      height: 47rem

    img
      object-fit: contain

  .description
    @extend %description-16
    color: $alto
    margin-top: 4rem
    text-align: center

.case__study__adsPresentation__section
  padding: 0 20rem 20rem 20rem

  @media screen and (max-width: 48em)
    padding: 5rem 5rem 5rem 5rem

  @media screen and (min-width: 48.063em) and (max-width: 64em)
    padding: 10rem 10rem 10rem 10rem

  .heading
    @extend %title-80
    text-transform: uppercase
    margin-top: 4rem
    color: $white
    text-align: center
    margin-bottom: 5rem