.custom__video {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  position: relative;
  border: 0.5rem solid $cerise_red;
}

.video {
  width: 100%;
  height: 100%;
}

/* Controls */

.controlsContainer {
  background-color: transparent;
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}

.controlsIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 10rem;
  margin-right: 10rem;
}

.controlsIcon--small {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-left: 10rem;
  margin-right: 10rem;
}

/* The time controls section */

.timecontrols {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 4rem;
  /* margin-left: 10vw; */
  left: 50%;
  transform: translateX(-50%);
}

.time_progressbarContainer {
  background-color: gray;
  border-radius: 15px;
  width: 55vw;
  height: 5px;
  z-index: 30;
  position: relative;
  margin: 0 20px;
}

.time_progressBar {
  border-radius: 15px;
  background-color: $white;
  height: 100%;
}

.controlsTime {
  @extend %description-14;
  color: $white;
}
